
/* destaque para o box selecionado */
.active, .escolha:hover {
border-bottom: medium solid #3c8dbc;

}

.text-muted{
    text-align: right;
}
.navbar{
    padding-left: 20px;
    padding-right: 20px;
}
body{
  background-color: #e7e7e7;
}