
/* destaque para o box selecionado */
.active, .escolha:hover {
border-bottom: medium solid #3c8dbc;

}

body{
  background-color: #e7e7e7;
  height:100%;
}
a:hover{
   border-bottom:medium solid #ffb600;
   padding-bottom: 0;
   color: #fff !important;
}
.navbar{
  background-color: #1c60ab !important;
  padding: 0 30px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}
.navbar-default .navbar-nav>.open>a{
  background-color: #1c60ab !important;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
  height: auto;
}

.navbar-brand-img {
  padding: 0.3em 0 0;
  margin-left: 0 !important;
}
/* .container-fluid {
  margin-right: 15px;
  margin-left: 15px;
} */
.content {
  
  padding: 0;
  
}

footer {
  position: relative;
  margin-top:auto; 
  right: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
  bottom: 0px;
}

.panel-default{
  padding: 10px;
}