
/* destaque para o box selecionado */
.escolha:hover, .active  {
border-bottom: medium solid #3c8dbc;

}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #fff;
}
.abas:hover{
color: #1c60ab !important;
}

body{
  background-color: #e7e7e7;
  height:100%;
  width:100%; height:70%; overflow:scroll;
}
a:hover{
   border-bottom:medium solid #ffb600;
   padding-bottom: 0;
   color: #fff !important;
}
.navbar{
  background-color: #1c60ab !important;
  padding: 0 30px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
}
.navbar-default .navbar-nav>.open>a{
  background-color: #1c60ab !important;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
  height: auto;
}

.navbar-brand-img {
  padding: 0.3em 0 0;
  margin-left: 0 !important;
}
.container-fluid {
  margin-bottom: 0;
height: 100%;
width: 100%;
}
.content {
  
  padding: 0;
  
}

footer {
  position: relative;
  margin-top:auto; 
  right: 0;
  left: 0;
  padding: 1rem;
  text-align: right;
  bottom: 0px;
}

.panel-default{
  padding: 10px;
}
.topo{
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
 
}
h3, .alert{
  font-size: 16px;
  padding-bottom: 0;
  margin-bottom: 0;
}