body{
    background-color: #e7e7e7;
    height:700px;
    width:100%; 
}

footer {
    position: fixed;
    bottom:0;
    left:0;
    right:0;
    left: 0;
    background-color: #1c60ab;
    color: #e7e7e7;
}
.navbar-nav>.user-menu>.dropdown-menu>li.user-header{
    height: auto;
  }

.navbar {
    background-color: #1c60ab !important;
    color: #fff !important;
    left:0;
    right:0;

}

.navbar-nav>li>a:hover{
    color: #fff !important;
}
.navbar-nav>li>a:focus{
    color: #fff !important;
}
.panel-body{
  
    width: auto;
    height: auto;
    max-width: 1400px;
    max-height: 530px;
 
}
#escolherView{
    padding-right:15px;
    padding-left: 15px;
}
.control-box{
    left: 0;
    right: 0;

}
.carousel-control{
    background: #666 !important;
    border: 0px;
    border-radius: 0px;
    display: inline-block;
    font-size: 34px;
    font-weight: 200;
    line-height: 18px;
    opacity: 0.5;
    padding: 4px 10px;
    margin: 30px -20px 0;
    height: 30px;
    width: 30px;
}
.navbar-default .navbar-nav>li>a {
    color: #f4f4f4;
}
h3{
    margin:3px;
}
.escolha:hover {
    border-bottom: medium solid #3c8dbc;
 
}
.escolha:focus {
    border-bottom: medium solid #3c8dbc;
 
}
.box-body{
    padding: 0;
}

.page-header {
    padding-bottom: 0;
}
.container-fluid {
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}
.navbar > .container-fluid .navbar-brand {
    margin-left: 0;
}
.info-box-content{
    padding: 0 3px;
    font-size: 14px;
}
