

.confidencial20{
    font-style: italic;
    vertical-align: middle;
    text-align: center;
    padding: 0px 10px;
}

.container{
    margin-right: auto;
    margin-left: auto;
    width: auto;
}

.content{
    padding: 0px 10px;
}

.conteudo-wrapper{
    padding: 0px;
}

.conteudo-dados {
    display: none;
}

.form-horizontal .control-label{
    text-align: left;
}

.error { 
    border-color: #F70202;
}

.escondido {
    display: none;
}

.fa-search{
    font-size:20px;
    color: #F78E1E;
}

h3 {
    margin: 0px 0px 10px 0px;
}

.inline {
    display: inline-block;
    vertical-align: middle;
}

.pontilhado {
	/* background-color: #fff; */
    border-top: 4px dotted #8c8b8b;
    height:1px;
    width:95%;
}

.margin0{
    margin: 0px;
}

.margin0-0-10-0{
    margin: 0px 0px 10px 0px;
}

.margin05{
    margin: 0px 5px;
}

.margin10{
    margin: 0px 10px;
}

.margin20{
    margin: 0px 20px;
}

.padding0 {
    padding: 0px;
}

.padding05 {
    padding: 0px 5px;
}


.padding015{
    padding: 0px 15px;
}

.padding1 {
    padding: 1px;
}

.padding7 {
    padding: 7px;
}

.padding17 {
    padding: 17px;
}

.pointer {
    cursor: pointer;
}


